body {
  width: 82%;
  justify-content: center;
  margin: auto;
}

.content{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.latest {
  background-color: rgb(27, 72, 162);
  color: white;
  padding: 2px;
}

.marquee-section {
  height: 20px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: rgb(214, 206, 206);
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  border-width: 1px;
}

.marquee-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.marquee-item {
  display: flex;
  flex-direction: row;
}

.marquee-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nba-image {
  height: 20px;
  width: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.news-area {
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 245, 245);
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(234, 230, 230);
}

.left-side-news {
  padding-left: 10px;
}

.news-title{
  font-weight: bold;
  font-size: 18px;
  padding-top: 15px;
}

.news-date{
  color: grey;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news-article{
  font-size: 17px;
  line-height: 1.4;
}

.right-side-news {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.lebron-image {
  height: 200px;
  width: 200px;
  display: block;
  flex-direction: row;
}

.lebron-image-container {
  position: relative;
  width: auto;
  background-color: aqua;
}

.lebron-image-text {
  position: absolute;
  bottom: 0;
  color: white;
  width: 200px;
  height: 30px;
  opacity: 0;
  background-color: rgba(200, 190, 190, 0.756);
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lebron-image-container:hover .lebron-image-text {
  opacity: 1;
}